SOLANA_RPC_URL=https://mainnet.helius-rpc.com/?api-key=01fde16b-aacb-4a48-a5b8-bb9c78138b09
SOLANA_RPC_API_KEY=unused
TRACKED_WALLET=4f3RNx4GfNLcNjrPAyGuPTAdnk37rh6fdo7VoGXv9wfC
SNAPSHOT_INTERVAL_MINUTES=15
